{
  "name": "ads__new",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "dist/views/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "dist/sass/styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/css/styles.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "dist/scripts/main.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"docs/js/main.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "dist/scripts/app.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"docs/js/app.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "dist/views/campaign__detail.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/campaign__detail.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "dist/views/add_funds.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/add_funds.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "dist/views/withdraw.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/withdraw.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "dist/views/profile.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/profile.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "dist/views/documents.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/documents.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "dist",
      "docs/js",
      "docs/js/plugins",
      "docs/js/plugins/datepicker",
      "docs/js/plugins/peity",
      "dist/views"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": true
  },
  "imports": [
    {
      "path": "dist/sass/styles.scss",
      "imports": [
        "dist/sass/_variables.scss",
        "dist/sass/plugins/_icons.scss",
        "dist/sass/plugins/_dropdown.scss",
        "dist/sass/plugins/_tabs.scss",
        "dist/sass/plugins/_daterangepicker.scss",
        "dist/sass/_scss/_normalize.scss",
        "dist/sass/_scss/_grid.scss",
        "dist/sass/_scss/_type.scss",
        "dist/sass/template/_layout.scss",
        "dist/sass/template/_navbar.scss",
        "dist/sass/template/_filters.scss",
        "dist/sass/template/_panels.scss",
        "dist/sass/template/_tables.scss",
        "dist/sass/template/_switches.scss",
        "dist/sass/template/_forms.scss"
      ]
    },
    {
      "path": "dist/scripts/main.js",
      "imports": [
        "dist/scripts/plugins/sprite.js",
        "dist/scripts/plugins/preloader.js",
        "dist/scripts/plugins/dropdown.js",
        "dist/scripts/plugins/nicescroll.js",
        "dist/scripts/plugins/select.js",
        "dist/scripts/plugins/tabs.js",
        "dist/scripts/plugins/validate.js",
        "dist/scripts/plugins/amcharts/amcharts.js",
        "dist/scripts/plugins/amcharts/serial.js",
        "dist/scripts/plugins/amcharts/themes/light.js",
        "dist/scripts/plugins/moment.js",
        "dist/scripts/plugins/daterangepicker.js"
      ]
    },
    {
      "path": "dist/views/add_funds.pug",
      "imports": [
        "dist/views/models/default.pug",
        "dist/views/components/head.pug",
        "dist/views/components/navbar.pug",
        "dist/views/components/footer.pug",
        "dist/views/components/scripts.pug"
      ]
    },
    {
      "path": "dist/views/campaign__detail.pug",
      "imports": [
        "dist/views/models/default.pug",
        "dist/views/components/head.pug",
        "dist/views/components/navbar--child.pug",
        "dist/views/components/footer.pug",
        "dist/views/components/scripts.pug"
      ]
    },
    {
      "path": "dist/views/documents.pug",
      "imports": [
        "dist/views/models/default.pug",
        "dist/views/components/head.pug",
        "dist/views/components/navbar.pug",
        "dist/views/components/footer.pug",
        "dist/views/components/scripts.pug"
      ]
    },
    {
      "path": "dist/views/index.pug",
      "imports": [
        "dist/views/models/default.pug",
        "dist/views/components/head.pug",
        "dist/views/components/navbar.pug",
        "dist/views/components/footer.pug",
        "dist/views/components/scripts.pug"
      ]
    },
    {
      "path": "dist/views/profile.pug",
      "imports": [
        "dist/views/models/default.pug",
        "dist/views/components/head.pug",
        "dist/views/components/navbar.pug",
        "dist/views/components/footer.pug",
        "dist/views/components/scripts.pug"
      ]
    },
    {
      "path": "dist/views/withdraw.pug",
      "imports": [
        "dist/views/models/default.pug",
        "dist/views/components/head.pug",
        "dist/views/components/navbar.pug",
        "dist/views/components/footer.pug",
        "dist/views/components/scripts.pug"
      ]
    },
    {
      "path": "dist/views/models/default.pug",
      "imports": [
        "dist/views/components/footer.pug",
        "dist/views/components/scripts.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"uglify-js\"],\"outputSuffix\":\".min\",\"compiler-uglify-js\":{\"mangle\":false}}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": true,
      "unsafe_comps": true,
      "unsafe_math": true,
      "unsafe_proto": true,
      "unsafe_regexp": true,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": true,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": true,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": true,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": true,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}